apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller
  namespace: kv-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: controller
  template:
    metadata:
      labels:
        app: controller
    spec:
      containers:
        - name: controller
          image: distributed-kv-controller:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
